body {
  margin: 0;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: cadetblue;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* App container */
.container {
  display: flex;
  flex-direction: column;
  width: 580px; 
  height: 672px;
  padding: 20px;
  align-items: center;
  border-radius: 10px;
  
}

.image {
  text-align: center;
}

.image img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-top: 40px;
  margin-bottom: 10px;
}

.image h1 {
  font-size: 24px;
  margin-top: 0;
  color: #f5f5f5;
}

.social {
  display: flex;
  gap: 40px;
  margin-bottom: 16px;
}

.social-me img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  transition: transforn 0.3s ease;
}

.social img:hover {
  border-radius: 50%;
  background-color: #000;
  transition: background-color 0.3s;
  transform: scale(1.2);
}

.links {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.icon {
  width: 96%;
  display: flex;
  padding: 8px;
  justify-content: center;
  gap: 10px;
  background-color: #f5f5f5;
  border-radius: 6px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.6);

}


.icon img {
  width: 30px;
  height: 30px;
}

.icon a {
  text-decoration: none;
  color: #333;
  font-size: 14px;
  flex-grow: 1;
  padding-top: 4px;
}

.icon a:hover {
  color: #0073e6;
}

.link-text {
  text-align: center;
}
